
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/Content/assets/images/AboutSlider.png');">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>
                    <p class="stext-113 cl6 p-b-26">
                        Its story began with two friends, TaiKon and DungAoChinh, who shared a passion for coffee and a dream of creating a space where people could unwind, converse, and feel at home. With boundless enthusiasm and a lot of hard work, they transformed a rundown building into a cozy haven adorned with rustic wooden tables, mismatched chairs, and shelves stacked with board games and well-loved books.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        Their mission was simple: to serve exceptional coffee and create an environment that felt like an extension of one's living room. The aroma of freshly ground beans greeted guests at the door, while the soothing melodies of acoustic music filled the air.
                        The baristas, clad in aprons and genuine smiles, quickly became familiar faces to regulars. They knew the names and favorite orders of the patrons, fostering a sense of belonging that transcended the mere transaction of buying a cup of coffee.
                    </p>
                    <p class="stext-113 cl6 p-b-26">
                        As time passed, the walls echoed countless conversations and witnessed the evolution of friendships. The shop weathered storms, both literal and metaphorical, standing as a comforting constant amid life's uncertainties.
                        Through it all, TaiKon and DungAoChinh remained the heartbeats of "Sip & Savor." Their dedication and warmth seeped into every corner, making the coffee shop not just a business but an extension of their personalities and values.
                    </p>
                </div>
            </div>
            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/Content/assets/images/nafinia-putra-Kwdp-0pok-I-unsplash.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>
                    <p class="stext-113 cl6 p-b-26">
                        Cultivate Relationships: TaiKon and DungAoChinh understood that a coffee shop wasn't just about serving beverages; it was about forming genuine connections. They encouraged their staff to know regulars by name and treat each guest as part of a larger community.
                        <br />
                        <br />
                        Be a Pillar in the Neighborhood: They sought to be more than just a coffee shop; they aimed to contribute positively to the community. Whether through charity events, partnerships with local businesses, or simply being a space where neighbors could gather, they wanted to enrich the lives of those around them.
                    </p>
                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                        </p>
                        <span class="stext-111 cl8">
                            - Steve Job’s
                        </span>
                    </div>
                </div>
            </div>
            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/Content/assets/images/Aboutimg2.png" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

